<section>
  <div>Users</div>
</section>

<section>




<ag-grid-angular
    style="width: 500px; height: 150px;"
    class="ag-theme-alpine"
    [rowData]="rowData$"
    [gridOptions]="gridOptions">
</ag-grid-angular>

<h2 >Agregar Persona</h2>

<form (submit)="crear()" [formGroup]="nuevaPersona">
  <div>
    <label for="">Nombre</label>
    <input formControlName="first_name" name="first_name" type="text">
  </div>
  <div>
    <label for="">Apellido</label>
    <input formControlName="last_name" name="last_name" type="text">
  </div>
  <div>
    <label for="">email</label>
    <input formControlName="email" name="email" type="email">
  </div>
  <div>
    <label for="">Genero</label>
    <input formControlName="gender" name="gender" type="text">
  </div>
  <div>
    <label for="">Ip</label>
    <input  formControlName="ip_address" name="ip_address" type="text">
  </div>
  <button [disabled]="nuevaPersona.invalid"  type="submit" >Crear</button>

</form>




<h2 >Persona Seleccionada</h2>

<div *ngIf="personToEdit">
  <p>Id: {{ personToEdit._id }}</p>
  <p>Nombre: {{ personToEdit.first_name }}</p>
  <p>Apellido: {{ personToEdit.last_name }}</p>
  <p>Email: {{ personToEdit.email }}</p>
  <p>Genero: {{ personToEdit.gender }}</p>
  <p>Ip: {{ personToEdit.ip_address }}</p>
  <button (click)="guardar()" >Guardar</button>
</div>


<!--
<form>
first_name
last_name
email
gender
ip_address
</form>-->
